/* # Front-end Style Guide
## Layout

The designs were created to the following widths:

- Mobile: 375px * 768
- Desktop: 1440px * 768 */




/* What could I use to complete the challenge without js? */


/* MOBILE-FIRST WORKFLOW */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) repeat;
    /* !color at the bottom on wider screens! */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.main {
    background: white;
    max-width: 80%;
    padding: 0 1.5rem 3rem 1.5rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px hsla(236, 8%, 39%, 0.5);
}



.illustration-woman {
    /* border: 1px solid salmon; */
    margin-top: -7rem;
    /* position: inherit; */
}
.bg-pattern {
    /* border: 1px solid green; */
    margin-top: -5rem;
    width: 100%;
}


/* FAQ CONTENT */

h1 {
    color: hsl(238, 29%, 16%);
    /* font-size: 1.2rem; */
    text-align: center;
}

.accordion {
    width: 100%;
    border: none;
    color: hsl(237, 12%, 33%);
    font-size: 0.8rem;
    text-align: left;
    background-color: inherit;
    padding: 0.5rem 0 0.5rem 0;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: 0.4s;
}
.accordion::after {
    content: url(images/icon-arrow-down.svg);
    float: right;
}
.accordion:hover {
    color: hsl(14, 88%, 65%);
}

.accordion.is-open {
    color: hsl(238, 29%, 16%);
    font-weight: 700;
}
.accordion.is-open::after {
    transform: rotate(0.5turn)
}

.panel {
    color: hsl(240, 6%, 50%);
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid hsla(240, 6%, 50%, 0.3);
}





/* FOOTER */
.attribution {
    /* font-size: 11px; */
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}