/* # Front-end Style Guide
## Layout

The designs were created to the following widths:

- Mobile: 375px * 768
- Desktop: 1440px * 768

## Colors

### Primary

#### Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)


### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%)

## Typography

### Body Copy

- Font size: 12px*/




/* What could I use to complete the challenge without js? */


/* MOBILE-FIRST WORKFLOW */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 62.5%;
}



.main {
    /* border: 2px solid rgb(182, 22, 22); */
    background: white;
    max-width: 80%;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px hsla(238, 29%, 16%, 0.5);
}


/* .images {
    border: 2px solid rgb(235, 134, 134);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 9.5vh;
    height: 10rem;
    margin-bottom: 3rem;
} */

.illustration-woman {
    border: 2px solid lightcoral;
    position: relative;
    top: -9.5rem;

}
.bg-pattern {
    border: 2px solid blueviolet;
    position: absolute;
    left: 4rem;
    top: 5rem;
    margin-bottom: -3rem;
}







h1 {
    color: hsl(238, 29%, 16%);
    font-size: 1.2rem;
}





.question {
    color: hsl(237, 12%, 33%);
}
.question:hover {
    color: hsl(14, 88%, 65%);
}
/* when question is selected*/
/* .question {
    color: hsl(238, 29%, 16%);
    font-weight: 700;
} */


.answer {
    color: hsl(240, 6%, 50%);
}


.line-breaker {
    width: 100%;
    height: 3px;
    color: hsl(240, 5%, 91%);
    /* padding: 1rem; */
}


.attribution {
    /* font-size: 11px; */
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}